.balance input[type=checkbox] {
    visibility: collapse;
}
input[type=checkbox]{
    visibility: collapse;
}
.balance label {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    cursor: pointer;
}

label img{
    width: 50px;
    height: 40px;
}

input[type=checkbox]:checked ~ span {
    font-weight: bold;
}

.category.box{
    margin-left: 10%;
    margin-top: 4%;
}

#category_name_box{
    border: none;
    width:180px;
    height: 180px;
    overflow: scroll;
    background: rgba(255,255,255,0.6);
    border-radius: 40px;
}

.mdl-layout{
    height: auto;
    width: auto;
    overflow-x: inherit;
    overflow-y: inherit;
}



