body {
    background: var(--back_color);
    font-family: 'IBM Plex Sans', sans-serif;
}
.title-name h1{
    font-family: 'Comfortaa', cursive;
    color: white;
}

.title-name h2{
    font-family: 'Comfortaa', cursive;
    color: white;
}

.mdl-button{
    border-radius: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.material-icons{
    margin-top: 10px;
}
.mdl-layout__header--transparent.mdl-layout__header--transparent {
    background: inherit !important;
    margin-left: 0.5%;
    margin-right: 5px;
    margin-top: 8px;
    border-radius: 50px;
    width: 99%;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent  {
    color: white;
}
.mdl-layout__drawer{
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    border-radius: 20px;
}
.mdl-layout__drawer-button{
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 1%;
    border-radius: 50%;
}

.mdl-layout__drawer-button::selection{
    background: none;
}

.mdl-layout__container{
    width: 100%;
    height: auto;
}

.mdl-layout__content{
    flex-grow: unset;
}
.card-list{
    display: flex;
    align-content: space-between;

    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.demo-card-square.mdl-card.mdl-shadow--2dp{
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 40px;
}
.mdl-layout__drawer{
    max-height: 1000px;
}


@media (min-width: 1000px){
    #login_button{
        display: none;
    }

}

.mdl-layout__container{
    height: -webkit-fill-available;
}

.dark{
    background-color: #000000;
    color: white; !important;
}

.dark span{
    color: white; !important;
}

.dark text{
    color: white; !important;
}

mdl-navigation__link{
    font-family: 'Comfortaa', cursive;
    color: white;
}

:root {
    --back_color: #99CCFF;
}

.mdl-layout__obfuscator{
  background: none;
}

.mdl-layout__obfuscator.is-visible{
    background: none;
}

.mdl-layout__drawer.is-visible{
    z-index: 1000;
}