.balance input[type=checkbox] {
    visibility: collapse;
}
input[type=checkbox]{
    visibility: collapse;
}
.balance label {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    cursor: pointer;
}

label img{
    width: 50px;
    height: 40px;
}

input[type=checkbox]:checked ~ span {
    font-weight: bold;
}



